{% extends 'base.html' %}


{% block maincontent %}

<main role="main" class="inner cover d-flex" style="margin-left: 140px; margin-right: 140px;">
  <div>
    <h1 class="cover-heading">HealthDataPlots - Guía</h1>
    <p class="lead">En la siguiente sección de ayuda, se incluye una guía detallada sobre cómo aprovechar al máximo la aplicación. Aquí encontrarás instrucciones claras y concisas para utilizar todas las funciones disponibles. Desde la visualización de señales biomédicas hasta la personalización de parámetros, la guía te ayudará a navegar por la aplicación sin problemas.</p>
    <h1 class="cover-heading">Selección de la base de datos</h1>
    <p class="lead">Para seleccionar una base de datos, accede a la opción "Bases de datos" en el menú de la izquierda. Desde allí, elige la base de datos deseada haciendo clic en su nombre. Una vez seleccionada, la base de datos se cargará automáticamente para su visualización y análisis.</p>
  </div>
</main>

{% endblock %}
