{% extends 'base.html' %}


{% block maincontent %}

<main role="main" class="inner cover d-flex justify-content-center align-items-center" style="height: 100vh;">
  <div class="text-center">
    <h1 class="cover-heading">HealthDataPlots</h1>
    <p class="lead">HealthDataPlots es una herramienta web para visualización de señales vitales como el redacted. Puedes usar tus propias bases de datos o las bases de datos de ejemplo.</p>
    <p class="lead">
      <a href="/plotting" class="btn btn-lg btn-secondary" id="principal-page-button">Empezar a visualizar</a>
    </p>
  </div>
</main>

{% endblock %}
